* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@import './loginpage.sass';
@import './ChecklistPage.sass';
@import './SecurityMeasureInfoPage.sass';
@import './NavigationComponent.sass';

@media print {
    .print-btn,
    .Filter-btn-Container,
    #Checklist-form,
    box-icon {
        display: none !important;
    }
    .progress-container {
        margin-bottom: 100px;
    }
}